*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body{
    font-family:'Fredoka', sans-serif; ;
}

.container{
    margin: 0% auto;
    width: 70%;
}

header{
    text-align: center;
    padding-top: 3rem;
}

h1{
    margin-bottom: 3rem;
    font-size: 3rem;
    color: rgb(255, 0, 119);
}

main{
    padding-top: 4rem;
}

.float{
    float: left;
}

span{
    display: block;
}

section.float.clearfix{
    width: calc(100% / 3 - 2rem);
    margin-bottom: 3rem;
    background-color: rgb(24, 24, 24);
    color: white;
    margin-right: 2rem;
    box-shadow: 1rem 1rem 5rem #616161;

}

img{
    height: 7rem;
    width: 7rem;
    margin-right: 1rem;
}

a{
    text-decoration: none;
    color: rgb(2, 142, 184);
}

h2{
    margin-top: 1rem;
}

span{
    margin: 0.4rem 0;
}